.button {
    background-color: transparent;
    border: 1px solid lightsalmon;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    outline: none;
}

.button:hover {
    background-color: lightsalmon;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    overflow: hidden;
    font-size: 10px; 
}

.panel-container {
    display: flex;
    min-height: 150px;
    min-width: 100%;
    position: relative;
    top: 50px;
}

.panel {
    background: white;
    border: 1px solid gray;
    min-width: 0px;
}

.panel:first-child {

}

.resizer {
    width: 8px;
    background: darkGray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    position: relative;
    /* cursor: col-resize; */
    flex-shrink: 0;
}

.right {
    float: right;
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}
